.myday-grid-container {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 10%;
  grid-template-areas: ". . . .";
  background: var(--tertiary-color);
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
  align-items: baseline;
}
.input {
  width: 50%;
  text-align: center;
}
